<div class="contents row albums-page">
  <% if @photos.any? %>
    <p><%= @album.title %>の写真一覧(<span id="photo-count"><%= @photos.size %></span>件)</p>
    <div class="albums">
      <% @photos.each do |photo| %>
        <div class="album">
          <div class="more">
            <p class="album-title">・・・</p>
            <ul class="more_list">
              <li>
                <%= link_to '編集', edit_album_photo_path(@album, photo) %>
              </li>
              <li>
                <%= link_to '削除', album_photo_path(@album, photo), data: { turbo_method: :delete } %>
              </li>
            </ul>
          </div>
          <% if photo.images.attached? %>
            <%= image_tag photo.images, class: "album-photo" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>このアルバムにはまだ写真がありません</p>
  <% end %>
</div>