<div class="content_post">
  <div class="more">
    <ul class="more_list">
      <li>
        <%= link_to '編集', edit_album_path(@album.id) %>
      </li>
      <li>
        <%= link_to '削除', album_path(@album.id), method: :delete, data: { confirm: '本当に削除しますか？' } %>
      </li>
    </ul>
  </div>
  <p><%= @album.title %></p>
  <div class="album-photos">
    <% @album.image.each do |img| %>
      <%= image_tag img %>
    <% end %>
  </div>
  <span class="name">
    <a href="/users/<%= @album.user.id %>">
      <span>作成者</span><%= @album.user.nickname %>
    </a>
  </span>
</div>


<div class="contents row">
  <% if @photos.any? %>
    <% @photos.each do |photo| %>
      <div class="content_post">
        <% if photo.image.attached? %>
          <%= image_tag photo.image.variant(resize: "300x300") %>
        <% end %>
        <p><%= photo.created_at.strftime("%Y-%m-%d") %></p>
      </div>
    <% end %>
  <% else %>
    <p>このアルバムにはまだ写真がありません</p>
  <% end %>
</div>