<div class="contents row photo-page">
  <div class="photo-page-album">
    <p class="photo-page-album-title"><%= @album.title %></p>
    <div class="photo-page-more">
      <p class="album-title">・・・</p>
      <ul class="photo-page-more-list">
        <li>
          <%= link_to '編集', edit_album_photo_path(@album, @photo) %>
        </li>
        <li>
          <%= link_to '削除', album_photo_path(@album, @photo), data: { turbo_method: :delete } %>
        </li>
      </ul>
    </div>

    <% if @photo.images.attached? %>
      <div class="photo-page-album-image-wrapper">
        <%= image_tag @photo.images, class: "photo-page-album-photo" %>
      </div>
    <% else %>
      <p>写真が表示されません。</p>
    <% end %>

    <div class="photo-page-description">
      <h4>写真メモ</h4>
      <p><%= @photo.description %></p>

      <h4>コメント</h4>
      <div class="comment">
      <% @photo.comments.each do |comment| %>
          <div class="comment-header">
            <% if comment.user %>
              <span class="comment-user-name"><%= comment.user.nickname %></span>
            <% end %>
            <span class="comment-timestamp"><%= comment.created_at %></span>
          </div>
          <p><%= comment.content %></p>
        </div>
      <% end %>

      <%= form_with(model: @comment, url: album_photo_comments_path(@album, @photo), local: true) do |form| %>
        <div class="form-group">
          <%= form.text_area :content, class: 'form-control', style: 'resize: none;', placeholder: 'コメントを入力してください' %>
        </div>
        <%= form.submit 'コメントを追加', class: 'btn btn-primary' %>
      <% end %>
    </div>

    <%= link_to '戻る', album_path(@album), class: "btn btn-primary" %>
  </div>
</div>