<div class="contents row photo-page">
  <div class="photo-page-album">
    <p class="photo-page-album-title"><%= @album.title %></p>
    <div class="photo-page-more">
      <p class="album-title">・・・</p>
      <ul class="photo-page-more-list">
        <li>
          <%= link_to '編集', edit_album_photo_path(@album, @photo) %>
        </li>
        <li>
          <%= link_to '削除', album_photo_path(@album, @photo), data: { turbo_method: :delete } %>
        </li>
      </ul>
    </div>

    <% if @photo.images.attached? %>
      <div class="photo-page-album-image-wrapper">
        <%= image_tag @photo.images, class: "photo-page-album-photo" %>
      </div>
    <% else %>
      <p>写真が表示されません。</p>
    <% end %>

    <div class="photo-page-description">
      <h4>メモ</h4>
      <p><%= @photo.description %></p>

      <h4>コメント</h4>
  <%= form_with(model: @comment, local: true) do |form| %>
    <%= form.text_area :comment, class: 'form-control' %>
    <%= form.submit 'コメントを追加', class: 'btn btn-primary' %>
  <% end %>
    </div>

    <%= link_to '戻る', album_path(@album), class: "btn btn-primary" %>
  </div>
</div>